html{
    height: 100%;
}
body{
    /* background: rgb(199,199,232); */
    background: linear-gradient(170deg, rgba(199,199,232,1) 35%, rgba(255,255,255,1) 100%);
    height: 100%;
    /* background-color: #666666; */
    margin: 0;
}

h1{
    text-align: center;
    padding-top: 3em;
}
.logo img{
    border-radius: 50%;
    width: 3em;

}
.logo{
    margin-left: auto;
}
.menu{
    display: flex;
    background-color: lavender;
    align-items: center;
    padding: 10px;
}
a{
    text-decoration: none;

    color: black;
    padding: 5px;
}
a:hover{
    color: #0e79dd;
}
.content {
    display: flex;
    justify-content: center;
    text-align: center;
    align-content: center;
    margin: 10px;


}
.content img{
    /*border: 1px solid black;*/
    margin: 7px;
    border-radius: 25px;
    width: 100px;
    height: 100px;
    background-color:#d0dfff ;
}
.content a{
    /*cursor: pointer;*/
    width: 100px;
    border-radius: inherit;
}
.button:hover{
   transform:  scale(1.1) ;
}