body {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto 4fr;
    height: 100vh;
    margin: 0;
}

main {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 15px;
    background-color: #bccbde;
}

.Header {
    display: grid;
    background-color: #969696;
    grid-column: 2/3;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 15px;

}

.SearchBar {
}
.SearchBar input {
    width: 40vw;
    border-radius: 25px;
    border: none;
    height: 25px;
    padding-left:10px;
    outline: none;
}
.SearchBar button{
    border: none;
    border-radius: 50px;
    height: 30px;
    width: 30px;
    cursor: pointer;
    font-weight: bold;
}
.SearchBar button:hover{
    background-color: #FF7755;
}

.Profile {

}

.Greeting {
    display: flex;
    align-items: center;
}

.button {
 border-radius: 20px;
    border: none;
    background-color: #FF7755;
    height: 30px;
    width: 80px;
    font-weight: bold;
    cursor: pointer;
}
.button:hover{
    color: white;
    transform: scale(1.1);
    margin:0 4px 0 4px;
}

.Sidebar {
    display: grid;
    background-color: #666666;
    color: white;
    font-weight: bold;
    grid-template-rows: auto auto 1fr;
    grid-row: 1/3;
}

.Logo {
    height: 90px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}

.links ul {
    padding-left: 0;
}

.links li {
    list-style-type: none;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: black 0 2px 2px;
}
.links a{
    text-decoration: none;
    color: white;
}
.links a:hover{
    transform: scale(1.1);
}
.Projects {
    display: grid;
    grid-template-rows: auto 1fr 1fr;
    grid-template-columns: repeat(auto-fit,minmax(300px, 1fr));
    gap: 10px;
    padding: 15px;

}
.Projects h3{
    grid-column: 1/-1;
    margin: 0;
}
.Project {
    display: grid;
    background-color: white;
    grid-template-rows: 1fr auto;
    grid-template-columns: 1rem 1fr;
    gap: 10px;
    border-radius: 20px;


}
.stripe{
    background-color: #FF7755;
    grid-row: 1/-1;
    width: 1rem;
    border-radius: 20px 0 0 20px;

}
.Project-name{
    grid-column: 2/3;
}
.left-sidebar {
    display: flex;
    flex-direction: column;
    padding: 15px;
}
.left-sidebar h3{
    margin: 0 0 10px 0;
}
.Announcements{
    margin-bottom: 10px;

}
.Announcements, .Trends{
    border-radius: 20px;
    background-color: white;
    padding: 15px;
}
.Announcement, .Trending {
    display: grid;
    border-bottom: 1px solid black;
}
.Announcement-name, .Trending-name{
    margin-bottom: 0;
}
.Announcement:last-child, .Trending:last-child{
    border-bottom: none;
}