.Container{
    display: flex;
    justify-content: center;
}
.Grid{
    display: grid;
    justify-content: center;
    width:500px;
    height: 500px;
    background-color: #ffffff;
    margin: 1em;

}
.slider{
    border-radius: 20px;
    background: linear-gradient(90deg, #ffffff, #7b7baa);
    
}
#sliderValue{
    display: flex;
    justify-content: center;
}
.Grid-elements:hover{
    background-color: #969696;
}
.settings{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.settings button, input, .slider{
    width: 100%;
    border: none;
    outline: none;
    cursor: pointer;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
   
    
}
input[type="color"] {

    background: none;
    border: 0;
    height: 70px;
    padding: 0;
    width: 70px;
  }
#colourPicker::-moz-color-swatch{
    border-radius: 8px;
}

#colourPicker:hover{
    transform: scale(1.1);
}
.settings button{
    background-color: #9898d3;
    border-radius: 8px;
    height: 40px;
}
.settings button:hover{
    box-shadow: 2px 2px 5px #7b7baa;
    
}
.settings button:active{
    transform: scale(1.02);
    background-color: #7b7baa;
}
