.score div {
    display: flex;
    margin: 10px;
    justify-content: center;
}

.players {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.game {
    display: flex;
}

.var {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #9898d3;
    border: 3px #9898d3 solid;
    width: 100px;
    height: 100px;
    margin: 10px;
    cursor: pointer;
}

#state {
    display: flex;
    flex-direction: column-reverse;
    align-content: center;
    align-items: center;
}