html,body{

    height: 100%;
    margin: 0;
}
main{
    display:flex;
    height: 100%;
}
nav{
    background-color: #4A4E69;
    display: flex;
    align-items: center;
    padding: 10px;
}
.menu{
    width: 30%;
    background-color: #707599;
    /* display: flex;
    align-items: center;
    flex-direction: column; */
}
.menu p{
    width: 100%;
    padding: 10px;
    margin: 0;
    text-align: center;
    
}
.menu p:hover{
    background-color: #7D82A2;
}
.hidden{
    display: none;
}
.todo{
    padding: 10px;
    background-color: #DBDDE6;
    width: 100%;
}

li{
    list-style: none;
}